body {
  background-color: #dbdbdb;
}
.video-promo__img {
  max-width: 100%;
}
.video-promo__title {
  position: relative;
  top: -222px;
  left: 20px;
  width: 75%;
  color: #fff;
  font-weight: lighter;
  text-shadow: 0 2px 111px white;
  font-size: 2em;
}
.video-promo__btn {
  display: block;
  width: 91px;
  height: 91px;
  background: url("../images/play-button.png") no-repeat;
  background-size: 90px;
  position: relative;
  margin-top: -220px;
  margin-bottom: 65px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;

}
.video-promo__btn span {
  color: #fff;
  position: relative;;
  top: 25px;
  left: 17px;
  text-shadow: 2px 5px 25px white;
}
.popular-topics h2 {
  text-align: center;
}
.popular-topics__item {
  width: 100%;
  height: 350px;
  background-color: grey;
  margin-bottom: 18px;
}
.about {

}
